body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px; 
    background-color: #6cc4c4,
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5189a1;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid black;
}

.navbar-logo-link {
    margin-left: 4%;
}

.navbar-logo {
    height: 60px; 
    width: auto;
    transition: transform 0.3s ease; 
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.navbar-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar-link {
    color: #17A2B8;
    text-decoration: none;
    background-color: #eee;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.navbar-link:hover {
    background-color: #cccccc;
}

.navbar-user {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 4%;
}

.config-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: aliceblue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    margin-bottom: 150px; 
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 3px;
    }
    .navbar-links {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .navbar-logo-link {
        margin-left: 0;
    }
    .navbar-logo {
        margin-left: 0;
    }
    .navbar-link {
        margin: 2px;
        padding: 2px 2px;
        font-size: 14px;
    }
    .navbar-user {
        margin-right: 5px;
    }
    .user-name {
        margin: 0;
        font-size: 0.8em;
        text-align: center;
    }
}